In [1]:
from faker import Faker
fake = Faker("es_ES")  # Datos en español
import random

In [2]:
import sqlite3
connection = sqlite3.connect("../base_de_Datos.db")
cursor = connection.cursor()

In [3]:
from faker import Faker
import pandas as pd

# Crear el generador de datos en español
fake = Faker("es_ES")

# Número de proveedores a generar
num_proveedores = 100

# Crear una lista de diccionarios con los datos de los proveedores
proveedores = []
for _ in range(num_proveedores):
    proveedor = {
        "nombre": fake.company(),
        "direccion": str(fake.address().replace("\n", ", ")),
        "ciudad": fake.city().replace("\n", ", "),
        "provincia": fake.state(),
        "codigo_proveedor": fake.random_int(min=1000, max=9999)
    }
    proveedores.append(proveedor)

# Convertir la lista en un DataFrame de Pandas
df_proveedores = pd.DataFrame(proveedores)
# Mostrar las primeras filas del DataFrame
print(df_proveedores.head())

# Guardar la base de datos en un archivo CSV
df_proveedores.to_csv("./archivos_csv/proveedores.csv", index=False)

                       nombre  \
0    Banca Privada IB S.Coop.
1      Manufacturas IP S.L.U.
2  Tecnologías Enríquez S.A.U
3   Carrera & Asociados S.A.U
4      Hermanos Carrasco S.L.

                                           direccion                  ciudad  \
0         Alameda de Salomé Perea 64, Navarra, 47769                 Córdoba
1                Vial Morena Lladó 60, Cuenca, 29294                  Ciudad
2              Pasaje Amor Calvo 67, Palencia, 13000                  Ciudad
3  Calle Aránzazu Cardona 11 Apt. 45 , Salamanca,...  Santa Cruz de Tenerife
4  Rambla de Ricarda Pedrosa 82 Apt. 36 , Baleare...                La Rioja

   provincia  codigo_proveedor
0   Asturias              1978
1    Segovia              6868
2   Valencia              1546
3  Guipúzcoa              4637
4     Cuenca              2431

In [4]:
df_proveedores.loc[df_proveedores["codigo_proveedor"].duplicated(), "codigo_proveedor"] = df_proveedores["codigo_proveedor"].max() + 1

In [5]:
df_proveedores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nombre            100 non-null    object
 1   direccion         100 non-null    object
 2   ciudad            100 non-null    object
 3   provincia         100 non-null    object
 4   codigo_proveedor  100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [6]:
df_proveedores.head()

,nombre,direccion,ciudad,provincia,codigo_proveedor
0,Banca Privada IB S.Coop.,"Alameda de Salomé Perea 64, Navarra, 47769",Córdoba,Asturias,1978
1,Manufacturas IP S.L.U.,"Vial Morena Lladó 60, Cuenca, 29294",Ciudad,Segovia,6868
2,Tecnologías Enríquez S.A.U,"Pasaje Amor Calvo 67, Palencia, 13000",Ciudad,Valencia,1546
3,Carrera & Asociados S.A.U,"Calle Aránzazu Cardona 11 Apt. 45 , Salamanca,...",Santa Cruz de Tenerife,Guipúzcoa,4637
4,Hermanos Carrasco S.L.,"Rambla de Ricarda Pedrosa 82 Apt. 36 , Baleare...",La Rioja,Cuenca,2431

In [7]:
for i in range(len(df_proveedores)):
    cursor.execute("INSERT INTO Proveedores (proveedor_id,nombre,direccion,ciudad,provincia) VALUES (?,?,?,?,?)",(int(df_proveedores.iloc[i]["codigo_proveedor"]),str(df_proveedores.iloc[i]["nombre"]),str(df_proveedores.iloc[i]["direccion"]),df_proveedores.iloc[i]["ciudad"],df_proveedores.iloc[i]["provincia"]))

In [8]:
connection.commit()

In [9]:
import pandas as pd

# Generar categorias
df_categorias = pd.DataFrame({
    "categoria_id": [2, 3, 4, 5, 6],
    "nombre": ["Mecánica", "Interiores", "Carrocería","Neumaticos","Accesorios"]
})

# Mostrar la tabla
print(df_categorias)

df_categorias.to_csv("categorias.csv", index=False)

   categoria_id      nombre
0             2    Mecánica
1             3  Interiores
2             4  Carrocería
3             5  Neumaticos
4             6  Accesorios

In [10]:
for i in range(len(df_categorias)):
    cursor.execute("INSERT INTO Categorias (categoria_id,nombre) VALUES (?,?)",(int(df_categorias.iloc[i]["categoria_id"]),df_categorias.iloc[i]["nombre"]))

In [11]:
connection.commit()

In [12]:
# Faker en español
fake = Faker("es_ES")

# Generar piezas
colores = ["rojo", "azul", "verde", "negro", "blanco"]
categorias = [1, 2, 3, 4, 5, 6]  # ID de categorías ya insertadas
nombres_piezas = [
    "Filtro de aceite", "Amortiguador", "Radiador", "Bujía", "Pastilla de freno",
    "Alternador", "Motor de arranque", "Batería", "Disco de freno", "Inyector",
    "Caja de cambios", "Escape", "Compresor", "Espejo retrovisor", "Ventilador", 
    "Faros delanteros", "Asientos", "Embrague", "Volante","Neumáticos de invierno","Neumaticos de verano"
    "Neumatico de 4 estaciones","Alfombrillas","Espejos","Parabrisas","Luces de freno"]

# Generar piezas
piezas = []
for i in range(100):
    piezas.append({
        "codigo_pieza": fake.random_int(min=100, max=1000),
        "nombre": random.choice(nombres_piezas),
        "color": random.choice(colores),
        "precio": round(random.uniform(10, 500), 2),
        "categoria_id": random.choice(categorias)
    })
df_piezas = pd.DataFrame(piezas)

print(df_piezas.head())

df_piezas.to_csv("./archivos_csv/piezas.csv", index=False)

   codigo_pieza    nombre  color  precio  categoria_id
0           757    Escape  negro  154.03             2
1           108  Asientos   azul  212.02             5
2           219  Radiador  verde  139.66             5
3           649  Radiador  negro  335.28             2
4           586  Asientos   azul  412.14             2

In [13]:
for i in range(len(df_piezas.loc[df_piezas["codigo_pieza"].duplicated()])):
    df_piezas.loc[df_piezas["codigo_pieza"].duplicated(),"codigo_pieza"] = df_piezas["codigo_pieza"].max() + (i+1)

In [14]:
df_piezas.loc[df_piezas["codigo_pieza"].duplicated()]

Empty DataFrame
Columns: [codigo_pieza, nombre, color, precio, categoria_id]
Index: []

In [15]:
for i in range(len(df_piezas)):
    cursor.execute("INSERT INTO Piezas (pieza_id,nombre,color,precio,categoria_id) VALUES (?,?,?,?,?)", (int(df_piezas.iloc[i]["codigo_pieza"]), df_piezas.iloc[i]["nombre"], df_piezas.iloc[i]["color"],df_piezas.iloc[i]["precio"],int(df_piezas.iloc[i]["categoria_id"])))
    connection.commit()

In [16]:

from datetime import timedelta
fake = Faker("es_ES")

# Generar pedidos
num_pedidos = 200
pedidos = []

pieza_ya_reservada = {}

for _ in range(num_pedidos):

    proveedor = fake.random_int(min=1000, max=9999)
    pieza = fake.random_int(min=100, max=1000)
    cantidad = random.randint(1, 10)
    fecha = fake.date_between(start_date='-1y', end_date='today')

    proveedor_pieza = (proveedor,pieza)

    if proveedor_pieza in pieza_ya_reservada:
        while fecha in pieza_ya_reservada[proveedor_pieza]:
            fecha += timedelta(days=1)
        pieza_ya_reservada[proveedor_pieza].add(fecha)
        print(f"Tu pieza {pieza} se ha reservado del proveedor {proveedor} para el dia {fecha}")
    else:
        pieza_ya_reservada[proveedor_pieza] = {fecha}

    pedidos.append({
        "proveedor_id": proveedor,
        "pieza_id": pieza,
        "cantidad": cantidad,
        "fecha": fecha.isoformat()
    })

df_pedidos = pd.DataFrame(pedidos)

print(df_pedidos.head())

df_pedidos.to_csv("./archivos_csv/pedidos.csv", index=False)

   proveedor_id  pieza_id  cantidad       fecha
0          5846       704         5  2024-08-28
1          1462       775         8  2024-04-30
2          7273       699         3  2024-12-19
3          6894       313         1  2024-12-18
4          8485       699         8  2024-05-02

In [17]:
for i in range(len(df_pedidos)):
    cursor.execute("INSERT INTO Pedidos (proveedor_id,pieza_id,cantidad,fecha) VALUES (?,?,?,?)", (int(df_pedidos.iloc[i]["proveedor_id"]), int(df_pedidos.iloc[i]["pieza_id"]), int(df_pedidos.iloc[i]["cantidad"]), df_pedidos.iloc[i]["fecha"]))
    connection.commit()

In [18]:
cursor.close()